* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

input,
button,
textarea {
    font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

.App {
    visibility: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.m-loaded {
    visibility: visible;
}
