.Item-image {
    position: relative;
    background: 0 0;
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}

.Item-image-in {
    aspect-ratio: 300 / 475;
    display: block;
    height: auto;
    object-fit: cover;
    vertical-align: top;
    width: 100%;
}

.Item-title {
    font-size: 13px;
    font-weight: 700;
    padding: 0 0 5px;
    margin: 0;
}

.Item-line {
    padding: 0 0 5px;
}

.Item-line:nth-child(odd) {
    background: #ebebeb;
}

.Item-label {
    font-weight: 700;
}

.Item-card {
    font-size: 12px;
    padding: 5px 0 0;
}

.m-list .Item-row {
    display: grid;
    gap: 10px;
    grid-template-columns: minmax(0, 50px) minmax(0, 1fr);
}

.m-list .Item-details {
    display: none;
}

.m-list .Item-image-in {
    aspect-ratio: 1 / 1;
}
